= label :operate, :Hmd, 'Homework ID'
= text_field :operate, :Hmd

= label :operate, :Homework, 'Date Of Memo Begins'
= date_select :operate, :Homework

= label :operate, :HomeworkDescription, 'Description of Memo'
= text_area :operate, :HomeworkDescription

= label :operate, :Homework2, 'Date Of Memo Ends'
= date_select :operate, :Homework2

