= label :student, :a, 'Name'
= text_field :student, :a

= label :student, :b, 'Grade'
= text_field :student, :b
        
= label :student, :c, 'class'
= text_field :student, :c  
           
= label :student, :d, 'Seatnumber'
= text_field :student, :d


                
= label :student, :e, 'Grouping'
= text_field :student, :e

= label :student, :f, 'Job'
= text_field :student, :f

= label :student, :g, 'Pet Number'
= text_field :student, :g

= label :student, :h, 'Pet type'
= text_field :student, :h

= label :student, :i, 'Food'
= text_field :student, :i
