%h2 Create New Student

= form_tag students_path, :method => :post do

  = label :student, :a, 'Name'
  = text_field :student, :a

  = label :student, :b, 'Grade'
  = select :student, :b, ['1','2','3','4','5','6']
  
  = label :student, :c, 'Class'
  = select :student, :c, ['1','2','3','4','5']  
  
  = label :student, :d, 'Seatnumber'
  = select :student, :d, ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25']
  
  = label :student, :e, 'Grouping'
  = select :student, :e, ['A','B','C','D','E','F']

  = label :student, :f, 'Job'
  = select :student, :f, ['Feeding','Sweeping','Washing']

  -#= label :student, :g, 'Pet Number'
  -#= text_field :student, :g

  = label :student, :h, 'Pet type'
  = select :student, :h, ['Dog','Cat','Rabbit','Turtle','lion','Panda']

  = label :student, :i, 'Food'
  = select :student, :i, ['Banana','Meat','Carrot','Bamboo']


  = submit_tag 'Save Changes'
  = link_to 'Back to Home Page', students_path
