-# in app/views/movies/show.html.haml

%h2 Details about #{@student.id}

%ul#details
  %li
    a:
    = @student.a
  %li
    b:
    = @student.b
  %li
    c:
    = @student.c
  %li
    d:
    = @student.d
  %li
    e:
    = @student.e
  %li
    f:
    = @student.f
  %li
    g:
    = @student.g
  %li
    h:
    = @student.h
  %li
    i:
    = @student.i

= link_to 'Edit info', edit_student_path(@student)
= link_to 'Back to student list', students_path
= link_to 'Delete', student_path(@student), :method => :delete
