!!! 5
%html
  %head
    %title ZOO!!!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    = yield

%p.notice= notice
%p.alert= alert
- if current_user
  = link_to('logout', destroy_user_session_path, :method => :delete)
  |
  \#{link_to('change password', edit_registration_path(:user))}
- else
  = link_to('Register', new_registration_path(:user))
  |
  \#{link_to('login', new_session_path(:user))}
  -# = link_to 'beach', :controller => :operates, :action => :index
